* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.stage {
    width: 100%;
    height: 100vh;
    position: relative;
}


.mario {
    height: 6rem;
    width: 6rem;
    background: red;
    background-size: contain;
    background-image: url("../svg/mario.svg");
    background-repeat: no-repeat ;
    position: absolute;
    bottom: 2rem;
}